DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=golbat_db
DB_USER=golbat_username
DB_PASS=golbat_pass
NEXT_PUBLIC_APP_URL=https://ticker.yoursite.com
NEXT_PUBLIC_MAP_URL=https://map.yoursite.com
INTERNAL_API_SECRET=
GEOFENCE_ID=171
GEOFENCE_DB_NAME=koji_db
